<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light px-0 sidebar collapse">
            <div class="position-sticky pt-3 admin-sidebar rounded">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cakemania.ng/admin/dashboard">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <span data-feather="file"></span>
                                <span><i class="bi bi-bag"></i> &nbsp;&nbsp; Orders</span>
                            </a>
                            <div class="dropdown-menu  bg-warning  border-0">
                                <a href="admin_orders.html" class="dropdown-item">View Orders</a>
                                <a href="#" class="dropdown-item">Add Orders</a>
                                <a href="#" class="dropdown-item">Edit Orders</a>
                                <a href="#" class="dropdown-item">Delete Orders</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <span data-feather="shopping-cart"></span>
                                <span><i class="bi bi-cake"></i>  &nbsp;&nbsp;  Cakes</span>
                            </a>
                            <div class="dropdown-menu bg-warning border-0">
                                <a href="/cakemania.ng/admin/cakes" class="dropdown-item">View Cakes</a>
                                <a href="/cakemania.ng/admin/cakes/add-cake" class="dropdown-item">Add Cakes</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <span data-feather="list"></span>
                                <span> <i class="bi bi-funnel"></i> &nbsp;&nbsp;  Categories</span>
                            </a>
                            <div class="dropdown-menu  bg-warning  border-0">
                                <a href="/cakemania.ng/admin/categories" class="dropdown-item">View Categories</a>
                                <a href="/cakemania.ng/admin/categories/add-cat" class="dropdown-item">Add Category</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            <a href="/cakemania.ng/admin/users" class="nav-link">
                                <span> <i class="bi bi-people"></i> &nbsp;&nbsp; Users</span>
                            </a>
                        </div>
                    </li>
                    <!-- Add other sections here -->
                </ul>
            </div>
        </nav>
    

