<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Cake Mania</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-JrVNf0f4PvL+HHI6CbuXpsVnN3A0bPjJf7C8ifqrxFi8oWEAgiCmeYrbXZqH4Qz0ryz3Pee7qRzc5ol5sK-6tA==" crossorigin="anonymous" />

   <!--- <script type="text/javascript" src="public/js/login.js" > </script> -->
    <!-- Your other styles or scripts -->

    <!--Cursive Like Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <!--poppins font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!-- Custom styles -->
    <% if (currentPage == 'index' || currentPage == 'products' ) { %>
      <link rel="stylesheet" href="/stylesheets/index.css">
    <% } else if (currentPage == 'product-detail') { %>
      <link rel="stylesheet" href="/stylesheets/index.css">
      <link rel="stylesheet" href="/stylesheets/product-detail.css">
    <% } else if (currentPage == 'login') { %>
      <link rel="stylesheet" href="/stylesheets/login.css">
    <% } else if (currentPage == 'signup') { %>
      <link rel="stylesheet" href="/stylesheets/signup.css">
    <% } else if (currentPage == 'user-dashboard') { %>
      <link rel="stylesheet" href="/stylesheets/index.css">
      <link rel="stylesheet" href="/stylesheets/user.css">
    <% } else if (currentPage == 'cart') { %>
      <link rel="stylesheet" href="/stylesheets/index.css">
    <% } 

    %>

    

    <script defer>
      function checkPasswordStrength() {
          const passwordInput = document.getElementById("password");
          const passwordStrengthMessage = document.getElementById("passwordStrength");
  
          const password = passwordInput.value;
          const hasDigit = /\d/.test(password);
          const hasLetter = /[a-zA-Z]/.test(password);
  
          if (hasDigit && hasLetter) {
              passwordStrengthMessage.innerHTML = "Password strength: Good";
              passwordStrengthMessage.style.color = "green";
          } else {
              passwordStrengthMessage.innerHTML = "Hint: password should be alphanumeric and include upper case and lower case letters";
              passwordStrengthMessage.style.color = "red";
          }
      }
  </script>
</head>
<body>

<!-- <body onload="resetError()"> -->