<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand"  href="/cakemania.ng">
            <img src="/images/logo.jpeg"  class="img-fluid img-fluid-contained" height="50" width="90" alt="Your Logo">
        </a>

        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links (Centered) -->
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/cakemania.ng">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cakemania.ng/cakes">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
            </ul>

            <!-- Shopping Cart and Profile Icons (Right) -->

            <% if (locals.userDetails && locals.userCart) { %>

                <ul class="navbar-nav ms-auto">
                <li style="text-align: left; background-color: #483b2c; color:white; border-radius: 5px;" class="nav-item pt-2 px-3 mx-3  ">
                    <% if (locals.userDetails.isAdmin == false) { %>
                        <a href="/cakemania.ng/users/profile">
                            Welcome <%= locals.userDetails.firstName %>
                            </a>
                    <% } else {%>
                        <a href="/cakemania.ng/admin/dashboard">
                            Welcome <%= locals.userDetails.firstName %>
                            </a>
                        <% } %>
  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        My Orders
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/cakemania.ng/users/cart">
                        <i id="cart-icon" class="bi bi-cart"></i>
                        <span id="cart-count" class="badge bg-danger">
                            <%= locals.userCart.length %>
                        </span>     
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-person"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if (locals.userDetails.isAdmin == true) { %>
                            <a class="dropdown-item" href="/cakemania.ng/admin/dashboard">Dashboard
                            </a>
                            <a class="dropdown-item" href="/cakemania.ng/admin/logout">Logout</a>

                         
                        <% } else { %>
                            <a class="dropdown-item" href="/cakemania.ng/users/profile">Profile
                            </a>
                            <a class="dropdown-item" href="/cakemania.ng/users/logout">Logout</a>
                        <% } %>
                             
                    </div>
                        
            
            <% } else { %>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cakemania.ng/users/cart">
                            <i id="cart-icon" class="bi bi-cart"></i>
                            <span id="cart-count" class="badge bg-danger">0</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                                <a class="dropdown-item" href="/cakemania.ng/users/signup">Signup</a>
                                <a class="dropdown-item" href="/cakemania.ng/users/login">Login</a>

                        <% } %>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</nav>