 
 <!-- Your page content goes here -->
 <div class="container mt-5 mb-5">
    <div class="row">


        <!--Beginning of user sidebar summary-->
        <div class="col-md-3 user-sidebar rounded-3"> <!-- col-md-3 to align to the right cart summary and checkout button -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center"></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 cart-div">
                       
                        <div>
                            <a href="/cakemania.ng/users/profile">
                                <p><i class="bi bi-pencil"></i> &nbsp; &nbsp; My Cakemania Account </p>
                            </a>
                            
                            <a href="/cakemania.ng/users/profile/orders">
                                <p><i class="bi bi-cart"></i> &nbsp; &nbsp; Orders </p><hr>
                            </a>

                            <a href="/cakemania.ng/users/logout">
                                <p class="mb-2 mt-4 pe-5 text-decoration"> <i class="bi bi-box-arrow-right"></i> &nbsp; &nbsp; LOGOUT </p>
                            </a>
    
                             
                        </div>      
                    </div>
                </div>
            </div>
        </div> <!-- End of user sidebar -->