<div class="col-md-6">
    <label for="lga" class="form-label">Local Government</label>

    <select class="form-select" id="lga" name="lga">

        <option value=null selected>Select LGA</option>
        <option value="Agege">Agege</option>
        <option value="Ajeromi-Ifelodun">Ajeromi-Ifelodun</option>
        <option value="Alimosho">Alimosho</option>
        <option value="Amuwo-Odofin">Amuwo-Odofin</option>
        <option value="Apapa">Apapa</option>
        <option value="Badagry">Badagry</option>
        <option value="Epe">Epe</option>
        <option value="Eti-Osa">Eti-Osa</option>
        <option value="Ibeju-Lekki">Ibeju-Lekki</option>
        <option value="Ifako-Ijaye">Ifako-Ijaye</option>
        <option value="Ikeja">Ikeja</option>
        <option value="Ikorodu">Ikorodu</option>
        <option value="Kosofe">Kosofe</option>
        <option value="Lagos-Island">Lagos Island</option>
        <option value="Lagos-Mainland">Lagos Mainland</option>
        <option value="Mushin">Mushin</option>
        <option value="Oshodi-Isolo">Oshodi-Isolo</option>
        <option value="Ojo">Ojo</option>
        <option value="Somolu">Somolu</option>
        <option value="Surulere">Surulere</option>
     
    </select>

</div>