<%- include('./includes/admin-header.ejs') %>
<%- include('./includes/header.ejs') %>
<%- include('./includes/admin-sidebar.ejs') %>


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <div class="container pt-4 px-4">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
              <form action="/submit-product" method="post"> <!-- Replace "/submit-product" with your actual form submission URL -->
                  <div class="bg-secondary rounded h-100 p-4">
                      <h6 class="mb-4">Add Product</h6>
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="cakeName" name="cakeName"
                              placeholder="Your Name">
                          <label for="cakeName">Cake Name</label>
                      </div>
  
                      <div class="form-floating mb-3">
                          <select class="form-select" id="size" name="size"
                              aria-label="Floating label select example">
                              <option selected>Sizes</option>
                              <option value="1">Size 8</option>
                              <option value="2">Size 10</option>
                              <option value="3">Size 12</option>
                          </select>
                          <label for="size">Size</label>
                      </div>
  
                      <div class="form-floating mb-3">
                          <input type="number" class="form-control" id="quantity" name="quantity"
                              placeholder="Enter Quantity Available">
                          <label for="quantity">Quantity</label>
                      </div>
  
                      <div class="form-floating mb-3">
                          <input type="number" class="form-control" id="price" name="price"
                              placeholder="Enter Price">
                          <label for="price">Price</label>
                      </div>
  
                      <div class="form-floating mb-3">
                          <select class="form-select" id="category" name="category"
                              aria-label="Cake label select example">
                              <option selected>Category</option>
                              <option value="1">Christmas Cake</option>
                              <option value="2">Wedding Cakes</option>
                              <option value="3">Children's Cakes</option>
                              <option value="4">Birthday Cakes</option>
                              <option value="5">Valentine Cakes</option>
                          </select>
                          <label for="category">Category</label>
                      </div>
  
                      <div class="form-floating">
                          <textarea class="form-control" placeholder="Enter Product Description"
                              id="description" name="description" style="height: 150px; resize: none"></textarea>
                          <label for="description">Description</label>
                      </div>
  
                      <label for="imageUrl" class="form-label">Image URL</label>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                          <input type="text" class="form-control" id="imageUrl" name="imageUrl" aria-describedby="basic-addon3">
                      </div>
  
                      <div class="form-floating mb-3">
                          <select class="form-select" id="flavour" name="flavour"
                              aria-label="Floating label select example">
                              <option selected>Flavour</option>
                              <option value="1">Chocolate</option>
                              <option value="2">Velvet</option>
                              <option value="3">Vanilla</option>
                              <option value="4">Vanilla and Chocolate mix</option>
                              <option value="5">Vanilla and Velvet mix</option>
                              <option value="6">Velvet and Chocolate</option>
                          </select>
                          <label for="flavour">Flavours</label>
                      </div>
  
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  

  </main>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
      integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
      crossorigin="anonymous"></script>
<script src="dashboard.js"></script>

</body>
</html>