<%- include('./includes/header.ejs') %>

<%- include('./includes/navbar.ejs') %>


<div class="container-fluid cake-container overlay">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <h1 class="text-center"> Bite into Happiness <br> Savor the Sweetness of our delicous cakes </h1>
            
        </div>
    </div>
</div>

<div class="container filter-container">
    <div class="row">
        <!-- Filter Options -->
        <div class="col-md-3">
            <h4>Filter Options</h4>
            <form>
                <div class="mb-3 mt-3">
                    <label for="priceRange" class="form-label">Price Range</label>
                    <input type="range" class="form-range" id="priceRange">
                </div>
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </form>
        </div>

        <!-- Product Cards -->
        <div class="col-md-9 products-section">
            <h4 class="text-center category-desc"> All Products </h4>
           
           
            <div class="row">
               
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              
                <div class="col-md-3">
                    <div class="card product-card position-relative">
                        <img src="./images/cupcake.jpeg" class="card-img-top img-fluid" alt="Cake Image">
                        <div class="card-body">
                            <h5 class="card-title">Cake Name</h5>
                            <p class="card-text">Short description of the cake.</p>
                            <p class="card-text">Price: $19.99</p>
                        </div>

                        <div class="add-to-cart-btn btn btn-success">Add to Cart</div>
                    </div>
                </div>
              

            </div>
        </div>
    </div>
</div>




<%- include('./includes/footer.ejs') %>
