   <!-- Your page content goes here -->
   <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 "> <!-- col-md-8 to align to the left -->
            <div class="container main-cart-contents rounded-3">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-4">
                        <h3>Shopping Cart (2)</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="./images/chrismas-cake.jpeg" alt="Product Image" class="product-image img-fluid rounded-3">
                    </div>
                    <div class="col-md-9">
                      <div class="col-12">  Product long description talks a lot about the products it's uses vvvrvrv rv... <span class="float-end"> <i class="bi bi-trash"></i> </span> </div>
                        <div class= "col-12  clearfix">
                            <p  class="float-start mt-4"> #3,000  </p>
                            <div class="quantity-container float-end mt-4">
        
                                <i class="bi bi-dash quantity-icon"></i> &nbsp;
                                <span class="quantity">1</span> &nbsp;
                                <i class="bi bi-plus quantity-icon"></i>
                            </div>
                        </div>    
                    </div> 
                </div> <!--End div class row for cart item-->
                <hr> 
                <div class="row">
                    <div class="col-md-3">
                        <img src="./images/chrismas-cake.jpeg" alt="Product Image" class="product-image img-fluid rounded-3">
                    </div>
                    <div class="col-md-9">
                    <div class="col-12">  Product long description talks a lot about the products it's uses vvvrvrv rv... <span class="float-end"> <i class="bi bi-trash"></i> </span> </div>
                        <div class= "col-12  clearfix">
                            <p  class="float-start mt-4"> #3,000  </p>
                            <div class="quantity-container float-end mt-4">
        
                                <i class="bi bi-dash quantity-icon"></i> &nbsp;
                                <span class="quantity">1</span> &nbsp;
                                <i class="bi bi-plus quantity-icon"></i>
                            </div>
                        </div>    
                    </div> 
                </div> <!--End div class row for cart item-->
                <hr> 
                <div class="row">
                    <div class="col-md-3">
                        <img src="./images/chrismas-cake.jpeg" alt="Product Image" class="product-image img-fluid rounded-3">
                    </div>
                    <div class="col-md-9">
                      <div class="col-12">  Product long description talks a lot about the products it's uses vvvrvrv rv... <span class="float-end"> <i class="bi bi-trash"></i> </span> </div>
                            <div class= "col-12  clearfix">
                                <p  class="float-start mt-4"> #3,000  </p>
                                <div class="quantity-container float-end mt-4">
            
                                    <i class="bi bi-dash quantity-icon"></i> &nbsp;
                                    <span class="quantity">1</span> &nbsp;
                                    <i class="bi bi-plus quantity-icon"></i>
                                </div>
                            </div>    
                    </div> 
                </div> <!--End div class row for cart item-->
                <hr> 
             
            </div> <!--End div class container-->
        </div> <!--End div class col-md-8 left container shopping cart items -->


        <div class="col-md-4 cart-summary-container rounded-3"> <!-- col-md-3 to align to the right cart summary and checkout button -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center"></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 cart-div">
                        <h3> Summary </h3>
                        <div>
                            <p> Subtotal: <span class="float-end"> #3,000 </span> </p>
                            <p> Shipping: <span class="float-end"> #0 </span> </p>
                            <p> Total: <span class="float-end"> #3,000 </span> </p>
                        </div>

                        <div class="d-grid gap-2 mb-4">
                            <button class="btn btn-info buy-now-btn rounded-3">Checkout (2)</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End of main-cart-contents div -->