
<%- include('./includes/header.ejs') %>

<div class="login-container">
    <div class="bkground-img">

        <form action="/cakemania.ng/users/login" method="post">

            <h2>Log In</h2>

            <% if (message) { %>
                <div class="error-message"><%= message %></div>
            <% } %>

            
            <div class="form-floating">
                <input class="form-control" type="email" id="email" name="email" placeholder="Email Address" required >
                <label for="email">Email</label>
            </div>

            <div class="password-input form-floating">
                <input class="form-control" type="password" id="password" name="password" placeholder="Password" required ><span class="password-toggle-icon"><i class="reveal bi bi-eye"></i></span>
                
                <label for="email">Password</label>
                
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

<script> 


const passwordField = document.getElementById("password");
    const togglePassword = document.querySelector(".reveal");

    togglePassword.addEventListener("click", function () {
    if (passwordField.type === "password") {
        passwordField.type = "text";
        togglePassword.classList.remove("bi-eye");
        togglePassword.classList.add("bi-eye-slash");
    } else {
        passwordField.type = "password";
        togglePassword.classList.remove("bi-eye-slash");
        togglePassword.classList.add("bi-eye");
    }
    });

</script>
</body>



