<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>



  

    <h3 class="">Hi <%= user.firstName %> your order has been placed</h3>
    
    <%- include('./includes/footer.ejs') %>