<%- include('./includes/header.ejs') %>

<%- include('./includes/navbar.ejs') %>
  
  
  <!-- Your page content goes here -->
  <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 "> <!-- col-md-8 to align to the left -->
            <div class="container main-cart-contents rounded-3">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-4">
                        <h4> CUSTOMER ADDRESS <span class="float-end"> Change > </span></h4> <hr>
                        <p> NkaCHUKWU NWOBI</p>
                        <p>Orchid Rd, Lekki, Penusila || 101601, Lagos, state  </p>
                    </div>
                </div>
              

            <div class="container main-cart-contents rounded-3">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-4">
                        <h3> Customer's Address <span class="float-end"> Change </span></h3> <hr>
                        <p></p>
                    </div>
                </div>
                
             
            </div> <!--End div class container-->


            

        </div> <!--End div class col-md-8 left container shopping cart items -->


        <!--Beginning of order summary-->
        <div class="col-md-4 order-summary-container rounded-3"> <!-- col-md-3 to align to the right cart summary and checkout button -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center"></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 cart-div">
                        <h3> Order Summary </h3> <hr>
                        <div>
                            <p> Item's total (1): <span class="float-end"> #70,000 </span> </p>
                            <p> Delivery Fees: <span class="float-end"> #0 </span> </p>
                            <p> Total: <span class="float-end"> #3,000 </span> </p>
                        </div>

                        <div class="d-grid gap-2 mb-4">
                            <button class="btn btn-info buy-now-btn rounded-3">Confirm Order</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End of main-cart-contents div -->


<%- include('./includes/footer.ejs') %>


