<%- include('./includes/header.ejs') %>



    <h1>THIS OUGHT TO BE THE ORDERS CHECKOUT PAGE</h1>

    <p>Hi <%= user.firstName %> your order is ready</p>
    
    <%- include('./includes/footer.ejs') %>