<%- include('./includes/header.ejs') %>

<div class="signup-container">
    <div class="bkground-img">
        <form action="/cakemania.ng/users/signup" method="post" class="container">

            <h2 class="text-center">Sign Up</h2>

            <% if (message) { %>
                <div class="error-message text-center"><%= message %></div>
            <% } %>

            <% if (successMessage) { %>
                <div class="success-message text-center"><%= successMessage %> <a href="/cakemania.ng/users/login">here</a></div>
            <% } %>

            <div class="row">
                <div class="col-6">
                    <label for="firstName" class="form-label">*First Name:</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" required>
                </div>

                <div class="col-6">
                    <label for="lastName" class="form-label">*Last Name:</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" required>
                </div>

                <div class="col-6">
                    <label for="email" class="form-label">*Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>

                <div class="col-6">
                    <label for="phoneNo" class="form-label">*Phone Number:</label>
                    <input type="tel" id="phoneNo" name="phoneNo" class="form-control" required>
                </div>

                <div class="col-6">
                    <label for="password" class="form-label">*Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required oninput="checkPasswordStrength()">
                </div>

                <div class="col-6">
                    <label for="passwordConfirm" class="form-label">*Confirm Password:</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" required>
                </div>
                <p id="passwordStrength" style=" margin-top: -10px; font-size: 10px; color: red;"></p>

                <div style="margin-bottom: 10px;" class="col-12">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                <p>Already have an account?<a href="/cakemania.ng/users/login">Login here</a></p>
            </div>
        </form>
    </div>
</div>

```