
body{
    color: #fff;
}

nav #sidebarMenu{
    background-color: #483b2c;
    width: 100vw;
    height: 100%;
}

.admin-sidebar {
    width: 100%;
    height: 100%;
}

.admin-content, .sales, .orders, .admin-sidebar {
    background-color: #483b2c;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

table{
    background-color: #483b2c;
    color: #fff;
}