*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  background: linear-gradient(rgba(255, 232, 214, 0.3), rgba(255, 232, 214, 0.3)), url('/images/bkground1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bkground-img{
  width: 30%;
  margin: 0px auto 0px auto;
  background-color: rgb(255, 232, 214, 0.7);
  
}

@keyframes animateMe {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.error-message {
  color: red;
  text-align: center;
  background-color: white;
  padding: 5px;
  border: 1px solid red;
  border-radius: 10px;
  margin-bottom: 20px;
  animation: animateMe 1s forwards;
}

form {
  height: auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.1);
  width: 100%;
  color: black;
}

.form-floating{
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.1);
  
}

h2{
  text-align: center;
  margin-bottom: 24px;
}



label {
  display: block;
  margin-bottom: 8px;
  background: none;
}


input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.1);
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-input{
  position: relative;
}


.password-toggle-icon {
  position: absolute;
  top: 35%;
  right: 3%;
  cursor: pointer;
}


