
.main-cart-contents {
    background-color: #483b2c;
    color: #fff;

}

.user-sidebar {
    padding-left: 0.2em; 
    background-color: #483b2c;
    color: #fff;
    height: fit-content;
}
.user-account-contents {
    padding-left: 0.2em; 
    background-color: #483b2c;
    color: #fff;
    height: fit-content;
}

.address-box {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.summary-1 {
    border: 1px solid #fff;
    margin-right: 1.5em;
    height: 16.5em;
  
}

.summary-1 h4, p {
    padding-left: 1.5em;  
}

.summary-1:hover{
    background-color: #ffe8d6 ;
    color: #483b2c ;
}

.summary-1:hover i{
    color: #483b2c;
}


.orders-tab {
    border: 2px solid #fff;
    border-radius: 0.4em;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.8em;
    margin-right: auto;
    
}

a{
    text-decoration: none;
    color: white;
}


@keyframes animateMe {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  .error-message {
    color: white;
    width: 50%;
    text-align: center;
    background-color: red;
    padding: 5px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto auto 20px auto;
    animation: animateMe 0.6s forwards;
  }

  .success-message {
    color: white;
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    background-color: green;
    padding: 5px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto auto 20px auto;
    border-radius: 50px;
    animation: animateMe 0.6s forwards;
  }





